#jinja2: trim_blocks: "true", lstrip_blocks: "true"


{# Takes a string formatted like nginx-1:1.18.0-1.fc32.noarch #}
{# Will render like such: nginx : 1.16.0-1.fc32.noarch ==> 1.18.0-1.fc32.noarch #}
{# {{- old.split(':')[0].split('-')[:-1] | join('-') }}: {{ old.split(':')[1] }} ==> {{ new.split(':')[1] }} #}

<table cellspacing="1" border="1" bordercolor="#000000">
  <TR>
    <TH colspan="3" align="left">Update Process Started: {{ s_datetime.stdout.split('T')[0] }} {{ s_datetime.stdout.split('T')[1][:-1] }}</TH>
  </TR>
  <TR>
    <TH colspan="3" align="left">Update Process Finished: {{ e_datetime.stdout.split('T')[0] }} {{ e_datetime.stdout.split('T')[1][:-1] }}</TH>
  </TR>
  <TR>
    <TH colspan="3" align="left">Duration: {{ duration }}</TH>
  <TR>
  </TR>
    <TH> Package </TH>
    <TH> Previous Version </TH>
    <TH> New Version </TH>
  </TR>
{% for old in old_packages | sort %}
	{% for new in new_packages | sort %}
		{% if old.split(':')[0] == new.split(':')[0] %}
			<TR>
			  <TD> {{- old.split(':')[0].split('-')[:-1] | join('-') }} </TD>
			  <TD> {{ old.split(':')[1] }} </TD>
			  <TD> {{ new.split(':')[1] }} </TD>
			</TR>
		{% endif %}
	{% endfor %}
{% endfor %}
</table>