#jinja2: trim_blocks: "true", lstrip_blocks: "true"

Update Process Started: {{ s_datetime.stdout.split('T')[0] }} {{ s_datetime.stdout.split('T')[1][:-1] }}
Update Process Finished: {{ e_datetime.stdout.split('T')[0] }} {{ e_datetime.stdout.split('T')[1][:-1] }}
Duration: {{ duration }}
*****************************************
{% for result in update_details.results %}
  {% for line in result.splitlines() %}
    {{ line }}
  {% endfor %}
{% endfor %}
